# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Python package

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build_test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest, macos-14]
        python-version: ["3.10", "3.11", "3.12"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: install uv
      uses: astral-sh/setup-uv@v5
    - name: insatll python
      uses: actions/setup-python@v5
      with:
          python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: uv sync
    - name: Run pytest
      uses: dariocurr/pytest-summary@v2.4
      # with:
        # the pytest extensions to install along pytest
        # extensions: # optional
        # the pytest options
        # options: # optional
        # the path to the output file to create
        # output: # optional
        # the path to the folder containing the tests
        # paths: # optional, default is tests
        # which tests have to be shown in the summary
        # show: # optional
